# ROS build and devel folders
build/
devel/

# Python Bytecode
__pycache__/
*.pyc
*.pyo

# C++ Object Files
*.o
*.obj

# Temporary Files
*.tmp
*.swp
*.swo

# IDE and Editor Files
.idea/
.vscode/

# Other
/.vscode/
.ini/

# Leaving CMakeLists.txt files for now
#src/CMakeLists.txt